In [1]:
pip install scanpy

Requirement already satisfied: scanpy in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (1.11.2)
Requirement already satisfied: anndata>=0.8 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from scanpy) (0.11.4)
Requirement already satisfied: h5py>=3.7.0 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from scanpy) (3.14.0)
Requirement already satisfied: joblib in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from scanpy) (1.5.1)
Requirement already satisfied: legacy-api-wrap>=1.4.1 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from scanpy) (1.4.1)
Requirement already satisfied: matplotlib>=3.7.5 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from scanpy) (3.10.3)
Requirement already satisfied: natsort in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from scanpy) (8.4.0)
Requirement already satisfied: networkx>=2.7.1 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from scanpy) (3.5)
Requirement already satisfied: numba>=0.57.1 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from scanpy) (0.61.2)
Requirement already satisfied: numpy>=1.24.1 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from scanpy) (2.2.6)
Requirement already satisfied: packaging>=21.3 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from scanpy) (25.0)
Requirement already satisfied: pandas>=1.5.3 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from scanpy) (2.3.0)
Requirement already satisfied: patsy!=1.0.0 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from scanpy) (1.0.1)
Requirement already satisfied: pynndescent>=0.5.13 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from scanpy) (0.5.13)
Requirement already satisfied: scikit-learn>=1.1.3 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from scanpy) (1.7.0)
Requirement already satisfied: scipy>=1.8.1 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from scanpy) (1.16.0)
Requirement already satisfied: seaborn>=0.13.2 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from scanpy) (0.13.2)
Requirement already satisfied: session-info2 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from scanpy) (0.1.2)
Requirement already satisfied: statsmodels>=0.14.4 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from scanpy) (0.14.4)
Requirement already satisfied: tqdm in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from scanpy) (4.67.1)
Requirement already satisfied: typing-extensions in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from scanpy) (4.14.0)
Requirement already satisfied: umap-learn>=0.5.6 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from scanpy) (0.5.7)
Requirement already satisfied: array-api-compat!=1.5,>1.4 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from anndata>=0.8->scanpy) (1.12.0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from matplotlib>=3.7.5->scanpy) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from matplotlib>=3.7.5->scanpy) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from matplotlib>=3.7.5->scanpy) (4.58.4)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from matplotlib>=3.7.5->scanpy) (1.4.8)
Requirement already satisfied: pillow>=8 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from matplotlib>=3.7.5->scanpy) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from matplotlib>=3.7.5->scanpy) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from matplotlib>=3.7.5->scanpy) (2.9.0.post0)
Requirement already satisfied: llvmlite<0.45,>=0.44.0dev0 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from numba>=0.57.1->scanpy) (0.44.0)
Requirement already satisfied: pytz>=2020.1 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from pandas>=1.5.3->scanpy) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from pandas>=1.5.3->scanpy) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib>=3.7.5->scanpy) (1.17.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/bilalkachir/Desktop/Internship/.venv/lib/python3.11/site-packages (from scikit-learn>=1.1.3->scanpy) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

In [22]:
import matplotlib.pyplot as plt
from matplotlib.colors import CenteredNorm
from scipy.stats import spearmanr
import numpy as np
import pandas as pd
import deconomix
import scanpy as sc
from pathlib import Path

In [23]:
data_path = Path('../Data/scatlas')

In [24]:
adata = sc.read_mtx(data_path / "E-MTAB-9543.aggregated_filtered_counts.mtx")
adata = adata.T

In [25]:
print(adata.shape)

(20484, 34369)

In [26]:
# Set cell and gene names
barcodes = pd.read_csv(data_path / "E-MTAB-9543.aggregated_filtered_counts.mtx_cols", header=None)[0].values
genes = pd.read_csv(data_path / "E-MTAB-9543.aggregated_filtered_counts.mtx_rows", header=None)[0].values

In [27]:
print(barcodes[:5])
print(genes[:5])

['ERR9924225-AACACGTCAGCCAGAA' 'ERR9924225-AACGTTGAGGACATTA'
 'ERR9924225-AAGGAGCTCGGCGCTA' 'ERR9924225-ACCGTAAGTCTCTCTG'
 'ERR9924225-ACGGAGATCAGCGACC']
['ENSG00000000003\tENSG00000000003' 'ENSG00000000005\tENSG00000000005'
 'ENSG00000000419\tENSG00000000419' 'ENSG00000000457\tENSG00000000457'
 'ENSG00000000460\tENSG00000000460']

In [28]:
adata.obs_names = barcodes
adata.var_names = genes

In [29]:
# Load clustering (cell type) labels
clusters = pd.read_csv(data_path / "E-MTAB-9543.clusters.tsv", sep="\t", header=None)
clusters = clusters.T # now rows = cells
print(clusters.shape)
print(clusters.columns)

print("Available clustering levels:", clusters.columns.tolist())

(20486, 10)
RangeIndex(start=0, stop=10, step=1)
Available clustering levels: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
clusters

,0,1,2,3,4,5,6,7,8,9
0,sel.K,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE
1,K,7,12,17,24,32,45,58,67,76
2,ERR9924225-AACACGTCAGCCAGAA,1,1,1,1,1,1,1,15,11
3,ERR9924225-AACGTTGAGGACATTA,1,1,1,1,1,1,3,12,12
4,ERR9924225-AAGGAGCTCGGCGCTA,1,1,1,1,1,6,14,33,30
...,...,...,...,...,...,...,...,...,...,...
20481,ERR9924288-TTCTCAAGTAGTAGTA,3,2,3,2,2,5,8,1,1
20482,ERR9924288-TTCTCAATCTTCATGT,3,2,3,2,2,5,23,24,19
20483,ERR9924288-TTGACTTTCCCAAGTA,3,2,3,2,2,5,8,1,1
20484,ERR9924288-TTTGGTTAGGGAGTAA,3,2,3,2,2,5,8,1,1
20485,ERR9924288-TTTGGTTCACACATGT,3,2,3,2,2,5,23,24,19

In [31]:
marker_dir = Path("../Data/scatlas/marker_gene_files/")
df = pd.read_csv(marker_dir / "E-MTAB-9543.marker_genes_inferred_cell_type_-_ontology_labels.tsv", sep="\t")
print(df)

         cluster   ref  rank            genes     scores  logfoldchanges  \
0         B cell  rest     0  ENSG00000019582  39.896060        9.195016
1         B cell  rest     1  ENSG00000245904  38.009483        6.031949
2         B cell  rest     2  ENSG00000245970  35.502335        4.700161
3         B cell  rest     3  ENSG00000152348  35.147835        4.410508
4         B cell  rest     4  ENSG00000225339  33.374424        4.262527
..           ...   ...   ...              ...        ...             ...
794  plasma cell  rest    95  ENSG00000143384  10.775816        2.040168
795  plasma cell  rest    96  ENSG00000270550  10.746228        3.853781
796  plasma cell  rest    97  ENSG00000163902  10.731209        2.565032
797  plasma cell  rest    98  ENSG00000211651  10.711214        3.221825
798  plasma cell  rest    99  ENSG00000224373  10.613530        3.717747

             pvals      pvals_adj
0     0.000000e+00   0.000000e+00
1     0.000000e+00   0.000000e+00
2    4.523957e-276  5.182796e-272
3    1.254449e-270  1.077854e-266
4    3.222583e-244  2.215139e-240
..             ...            ...
794   4.477932e-27   9.053061e-25
795   6.173443e-27   1.240790e-24
796   7.263967e-27   1.451484e-24
797   9.017100e-27   1.791380e-24
798   2.578202e-26   5.092541e-24

[799 rows x 8 columns]

In [32]:
# Step 1: Get most common cell type names
cell_types = df["cluster"].value_counts().index.tolist()
print(cell_types)

['B cell', 'T cell', 'endothelial cell', 'mesenchymal cell', 'myeloid cell', 'neuron', 'plasma cell', 'epithelial cell']

In [33]:
cells = pd.read_csv(data_path / "E-MTAB-9543.cells.txt", sep="\t")
print(cells.columns)

Index(['Cell ID', 'Original barcode', 'Cell type_orig',
       'inferred cell type - authors labels',
       'inferred cell type - ontology labels'],
      dtype='object')

In [34]:
barcode_to_celltype = dict(zip(
    cells["Cell ID"],
    cells["inferred cell type - ontology labels"]
))

In [35]:
adata.obs["cell_type"] = adata.obs_names.map(barcode_to_celltype)

In [36]:
print(adata.obs["cell_type"].value_counts())

cell_type
epithelial cell     7224
T cell              1771
plasma cell         1382
B cell               769
mesenchymal cell     599
endothelial cell     372
myeloid cell         198
neuron                 2
Name: count, dtype: int64

In [37]:
# make a Boolean mask … True for all rows except the ones equal to "neuron"
mask = adata.obs["cell_type"] != "neuron"

# subset AnnData in-place (rows = spots)
adata = adata[mask].copy()

# check
print(adata.obs["cell_type"].value_counts())

cell_type
epithelial cell     7224
T cell              1771
plasma cell         1382
B cell               769
mesenchymal cell     599
endothelial cell     372
myeloid cell         198
Name: count, dtype: int64

In [38]:
# parameters
n_max = 10_000                        # maximum spots to average per cell-type
rng   = np.random.default_rng(0)      # reproducible sampling


mean_expr_dict = {}

# iterate over the *observed* categories only
for cell_type, n_spots in adata.obs["cell_type"].value_counts().items():

    # 1) select the spots of this cell-type
    subset = adata[adata.obs["cell_type"] == cell_type]

    # sanity-check: skip if somehow empty
    if subset.n_obs == 0:
        print(f"⚠️  no spots for '{cell_type}' – skipped")
        continue

    # 2) subsample if necessary
    if subset.n_obs > n_max:
        chosen = rng.choice(subset.obs_names, n_max, replace=False)
        subset = subset[chosen]

    # 3) average expression (works for dense *and* sparse)
    mean_vec = subset.X.mean(axis=0)
    mean_vec = mean_vec.A1 if hasattr(mean_vec, "A1") else np.asarray(mean_vec).ravel()

    mean_expr_dict[cell_type] = mean_vec

# 4) build reference matrix  (genes  ×  cell-types)
X_ref = pd.DataFrame(mean_expr_dict, index=adata.var_names)

print("X_ref shape:", X_ref.shape)   # genes × cell-types
display(X_ref.iloc[:5, :8])          # preview

X_ref shape: (34369, 7)

,epithelial cell,T cell,plasma cell,B cell,mesenchymal cell,endothelial cell,myeloid cell
ENSG00000000003\tENSG00000000003,0.025612,0.001129,0.007241,0.001300,0.015025,0.029570,0.000000
ENSG00000000005\tENSG00000000005,0.000138,0.000000,0.000000,0.000000,0.005008,0.000000,0.000000
ENSG00000000419\tENSG00000000419,0.039756,0.043196,0.026673,0.039034,0.045075,0.053763,0.035354
ENSG00000000457\tENSG00000000457,0.028085,0.028976,0.022048,0.020806,0.023342,0.013441,0.005257
ENSG00000000460\tENSG00000000460,0.048601,0.012987,0.011577,0.014304,0.019199,0.010753,0.015152

In [39]:
X_ref.to_csv("../Data/cell_type_reference_matrix.csv")

In [40]:
adata.write("../Data/scatlas/E-MTAB-9543_reference_data.h5ad")